
* {font-family: 'Hind', sans-serif;

}
        
.delipic {transform: rotate(270deg);
          width: 100%;
          height:auto;}

          .delipic img {width: 50%;
                        height: auto;}    
.delipic2 {transform: rotate(90deg);
          margin-top:-20%;
          height:auto;}
.delipic2 img {width: 50%;
               height: auto;}  


table {margin-left: 50px;}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  
 }

.navbar .navbar-collapse {
  text-align: center;
  
}

nav .navbar {text-align: center;
  margin-left: auto;
  margin-right: auto;}

header {background-color: grey;
      color: black;
      font-size: .75em;
  	text-align: center;
    }

body {font-size: 2em;
      text-align: center;
      background-color: lightgrey;} /*#FCFAFA;}*/


ul {list-style-type: none;
   }
nav ul li {text-align: right;}

nav a:hover {box-shadow: none;}

 div#growler {background: url("karoc drone pics 021.jpg"); /*("../img/beerwinebackground.jpg");*/
    background-size: 100%;}    
    
a {color:black;
   text-decoration: none;
    font-family: 'Fjalla One', sans-serif;}

a:hover {color: white;
        box-shadow: none;}


footer {text-align: center;
        font-size: .75em;}
th {text-align: center;}

 tr {color: black;
          font-size: 1em; 
	      text-align: left;}

li.active a {color: white;}

div#hours {color: black;
       text-align: center;
       font-size: 1em;
       margin-top: 5%;
      float:left;}


#summary {text-align: center;
clear:right;}


form{
margin-top: 50px;
transition: all 4s ease-in-out;
}

.form-control
{
  text-align: center; 
  width:600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form {display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;}

form .submit
{
    background: royalblue; /* #ff5722;*/
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {

background-color: cyan;/*#f44326;*/
cursor: pointer;
}
.centerform  {display: block;
              text-align: center;}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

ul#topsellers li {text-indent: 12%;
                  text-align: left;
                  font-size: .75em;}

ul#topsellers li h1 {text-align: left;
                     }

div#centersellers ul {text-align: left;}
div#flavors ul li {text-align: center;
                   clear:right;
                   font-size: .75em;}

div#hours {text-indent: 40%;}

td {text-align: center;}

table {width: 400px;}

ul#winelist {font-size: .75em;
text-indent: 30%;
text-align: left;
color: white;}
  
ul#winerys{font-size: .75em;
text-indent: 30%;
text-align: left;
color: white;}


ul#highend{font-size: .75em;
text-indent: 30%;
text-align: left;
color: white;}

ul#breweries{font-size: .75em;
             
              color: white;
              float: center;}

              ul#breweries li {align-items: left;}

ul#breweries2{font-size: .75em;
            
             margin-right: 15%;
            
              color: white;
              float: right;}
ul#breweries2 li {align-items: left;
                  width: 300px;}

div#flavors ul {float: left;
                margin-left: 15%;}

div.container {text-align: left;}

div.indent {margin-left: 10%;}

div.backimage {background: url("../img/newbeer.jpg");/* "../img/image25.jpg");/*("../img/beerwinebackground.jpg");*/
    background-repeat: repeat-y;
    background-size: 100%;    
    }


img.logo {width:12%;
          height:auto;
          align-self: center;}

img#frontlogo {width:12%;
          height:auto;
          margin-left: -27%;}
div#beerimg {display: none;}

div#indent{margin-left: 9.5%;}

h4 {font-family: 'Hind', sans-serif;}

.nav > li > a:hover, .nav > li > a:focus {background-color: grey;}

div#movelist {margin-left: -15%;}

div#movelist2 {margin-left: -85%;}



img {
        max-width: 100%;
}

button {text-align: center;}

@media (max-width: 1200px) {
.container {max-width: 80%;}
 } /* for desktops */

@media (max-width: 991px) {.container {max-width: 80%;}
nav.navbar {max-width: 60%;
margin-left: auto;
margin-right: auto;}
} /* for laptops */

@media (min-width: 768px) /*and (max-width: 990px)*/ {.container {max-width: 80%;}
 nav.navbar {max-width: 100%;
display: inline-block;
margin-left: auto;
margin-right: auto;}} /* for large tablets */

@media (max-width: 768px) {.container {max-width: 80%;} 
} /* for smaller tablets */

@media (max-width: 500px) {.container {max-width: 80%;} 
} /* for cellphones */


/*
@media screen and (max-width: 959px;){
    .container {width:100%;}
     nav    {width:100%;
             padding:15px;
             text-align:center;  
             display: inline;}                  

     nav.navbar ul  {display: inline-block;
                    align-items: right;}
                  
      
    * {font-size: 50%;}
    }

@media screen and (max-width: 640px;){
   .container {width:100%;}
    nav    {width:100%;
           padding:15px;
           text-align:center;  
           display: none;}                     

    nav.navbar ul  {display: inline-block;
                   align-items: right;}
     
    * {font-size: 75%;}
      }


 @media screen and (max-width:320px;){
    .container {width:320px;}
    nav            {width:100%;
                   padding:15px;
                   text-align:center;  
                   display: none;}               

    nav.navbar ul  {display: inline;
                   align-items: right;
            }

    
}
*/
.container{max-width: 1200px;}

h2 b {color: white;}